<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CommunityCentre</servlet-name>
        <servlet-class>com.CommunityCentre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusRoutes</servlet-name>
        <servlet-class>com.BusRoutes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>com.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GarbageCollection</servlet-name>
        <servlet-class>com.GarbageCollection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParkingLots</servlet-name>
        <servlet-class>com.ParkingLots</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Other</servlet-name>
        <servlet-class>com.Other</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>com.search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommunityCentre</servlet-name>
        <url-pattern>/CommunityCentre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusRoutes</servlet-name>
        <url-pattern>/BusRoutes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/Main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GarbageCollection</servlet-name>
        <url-pattern>/GarbageCollection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParkingLots</servlet-name>
        <url-pattern>/ParkingLots</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Other</servlet-name>
        <url-pattern>/Other</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
