body{
    background: rgb(244,251,255);
    padding:0px;
    margin:0px;
}

.toggler{
    padding:10px;
    background:rgb(121,121,121);
}
header{
    height: 300px; 
    position: relative;
    z-index: -1;
    top: -125px;

}
#openNav{
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 4px;
    color: #eee;
    font-weight: bold;
    background: rgb(61,61,61);
    cursor: pointer;
}


nav{
    background:#eee;
}

header{
   text-align: center; 
}

h1{
    text-decoration: line-through;
}



