body{
    background: #F5F5F5;
    padding:0px;
    margin:0px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.container{
    width: 80%;
    margin: 0 auto; 
}

header {
    background: #3579DC	;
}

header::after {
    content:'';
    display:table;
    clear:both;
}
header .highlight, header .current a{
    color:antiquewhite;
    font-weight: bold;
}

.logo{
    height: 80px;
    float:left;
    padding: 10px 0;
    margin-left: -180px;
}

nav{
    float:right;
}

nav ul{
    margin:0;
    padding:0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 43px;
    
    position: relative;
}


nav ul > li> a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17.7px;
    font-weight: bold;
}

nav ul > li> a:hover{
    color: #000;
}


nav a::before {
    content:"";
    display: block;
    height: 10px;
    width: 100%;
    background-color: #444;
    position: absolute;
    top:25px;
    width:0%;
    transition: all ease-in 250ms;
}

nav a:hover::before{
    width: 100%;
}
#map-showcase{
    margin-bottom: 5px;
    /*background: url(https://www.citywindsor.ca/residents/Facilities-for-Rent/PublishingImages/Forest%20Glade%20-%20Website%20Picture.jpg) no-repeat;
    background-position: center;
    background-size: cover;*/
}
#map-showcase h1{
    text-align: center;
    font-size: 40px;
    margin-bottom:10px;
}

#map-showcase h2{
    margin-bottom: 5px;
    
}

#googleMap{
    border: solid 5px;
    border-color: black;
    padding:0;
    margin:0px;
    
}



#subscribe{
    padding:15px;
    background-color: #3579DC;    
}
#subscribe h1{
    margin-left: -14px;
}

#subscribe form{
    float:right;
    margin-top:-50px;
}

#subscribe input[type="email"]{
    padding:4px;
    height:25px;
    width:350px;
}

.button_1{
    height:38px;
    background: ;
    border:none;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}
.container1{
    margin:30px;
    display:flex;
    flex-direction:row;
    flex:1 1 auto;
   
    text-align:center;

    margin:5px;  /* and that, will result in a 10px gap */
}

#container1 > div{
    
}

#details{
    display:flex;
    justify-content: space-evenly;
    background-color:#DAD4EF;
}

#details .info-box{
    float: left;
    text-align: center;
    width:30%;
    padding:10px;
}
#details .info-box img{
    background-color: #DAD4EF;
    color:beige;
}
#details .info-box p{
    font-size: 20px;
}
footer{
    background-color: #3579DC;
    text-align: center;
    padding:20px;
}


/* trial for boxed information
#information-boxes{
    display: inline;
}
#information-boxes .info-box{
    float: left;
    text-align: center;
    width: 30%;
    padding:10px;
     
}

#information-boxes .info-box img{
    width:150px;
    height: 150px;
    
}
*/

/* Parking Lot CSS*/

.navbar2 {
  width: 100%;
  background-color: #B9A394;
  overflow: auto;
}
.navbar2 h3{
    text-align: left;
}
/* Navigation links */
.navbar2 a {
  float: left;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 17px;
  width: 22%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar2 a:hover {
  background-color: #8B4513;
}

/* Style the current/active link */
.navbar2 a.active {
  background-color: #8B4513;
    color: aliceblue;
}
.p_adresses{
    margin-top: 60px;
    margin-left: 20px;   
}

/*Garbage Collection*/


